
@use "utilities/mixin";
@use "utilities/variables";

// reset
@use "base/reset";

html, body{
    width: 100%;
    height: 100%;
}

// pagina principal

// fondo principal
    .pagina-principal{ 
    display: flex;
    flex-direction: column;
    position: relative; 
    background-image: url(../images/fondo.webp); 
   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    z-index: 0; 

    &::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    pointer-events: none;
  }
} 
// fondo mobile
@media (max-width: 991.98px) { 

    .pagina-principal { 
        

       &::before{
        background-color: rgba(0,0,0,0.7); 
        position: fixed;
        inset: 0;
        
        z-index: -1; 
        pointer-events: none; } 
    } 

    

} 
  
// header
    header { 
   
    position: sticky; 
    top: 0; 
    z-index: 1000; 
        
     .navbar-custom .navbar-brand{ 
     padding-top: 20px;
    color: variables.$color-principal; 
    letter-spacing: 0.5px; 
    font-size: 1.2rem; 
    font-weight: 200; 
    font-family: "Share Tech Mono", sans-serif; 
    
    
} 
     .nav-link { 

    text-decoration: none; 
    color:variables.$color-principal;
    letter-spacing: 0.08em; 
    font-weight: 500; 
    font-family: "Share Tech Mono", sans-serif; 
    margin-left: 2rem; 
    line-height: 1.2; 
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: 
        border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
     
        
    &:hover { 
        border: 2px solid variables.$color-acento
       
    }

     
    &.active{ 
 background: linear-gradient( 90deg, 
        lch(53.23% 104.58 40), 
        #ee7272, 
        rgb(168, 165, 165))  ;    
        -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    font-weight: 600 

 } 
     &:not(.active){ 
    color: variables.$color-principal; 
} 

   
} 

 
    .navbar-custom .navbar-toggler { 
    border: 2px solid variables.$color-principal; 
    padding: 0.25rem 0.5rem; 

        } 
    } 
// header mobile
@media (max-width: 991.98px) { 

    header { 
      position: sticky; 
        top: 0; 
        z-index: 1100; 
    } 
    
    .navbar-custom { 
       z-index: 1100; 
    } 

    .navbar-custom .navbar-collapse { 
        margin-left: auto; 
         width: auto; 
        flex-grow: 0; 
         flex-basis: auto; 
        border-radius: 8px; 
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
            
    } 
 

    .navbar-custom .navbar-nav { 
        align-items: flex-end; 
        gap: 10px; 
        } 
    

    .navbar-custom .nav-item { 
        width: 100%; 
        display: flex; 
        justify-content: flex-end; 
        border: 2px solid variables.$color-acento;

        &:active{
           box-shadow: 0 0 10px variables.$color-acento;
        }
    
    } 

    .navbar-custom .nav-link { 
        min-width: 180px; 
        text-align: left; 
        color: variables.$color-principal; 
        padding: 10px 16px; 
        border-radius: 6px; 
        transition: background-color 0.25s ease, color 0.25s ease;    
       &:hover { 
        border: transparent;
        box-shadow: none; 
        
       

    }
    } 

} 
// main
     .seccion-principal { 
    min-height:  100vh; 
    display: flex; 
    flex: 1;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    
   
    position: relative; 
    z-index: 1; 
   
        .contenido-principal { 
            display: flex;
            flex-direction: column;
            text-align: left;
            max-width: 850px;
            align-items: flex-start;
            padding-top: 3rem;

    

    h2{
    font-size: clamp(2.2rem, 5vw, 3.5rem); 
    font-weight: 700; 
    color: variables.$color-principal ; 
    
    font-family:"Plus jakarta sans" , sans-serif; 
    text-shadow: 0 0 6px rgba(0,0,0,0.15);    
    margin: 20px 0; 
    line-height: 1.1;
}

        p { 
    font-size: 1.5rem; 
    font-weight: 600; 
    color: variables.$color-principal; 
    font-family: "plus jakarta sans", sans-serif; 
    max-width: 650px;
    

    } 
    .tecnologias{ 
    font-size: 1.3rem; 
    font-weight: 500; 
    color: variables.$color-principal; 
    font-family: "plus jakarta sans", sans-serif; 
    margin: 30px 0 20px 0;

    } 
}
// boton

.btn-primario{ 
    @extend .boton;
    display: inline-block;
    margin-top: 50px;
    width: 100%;
    max-width: 350px;
    text-align: center;
   color: variables.$color-principal; 
   background-color: variables.$color-fondo;
   border: 3px solid variables.$color-principal; 
   border-radius: 15px;
   z-index: 2;

    -webkit-tap-highlight-color: transparent; 

    &:hover{ 
    color: variables.$color-principal; 
    border-color: variables.$color-principal; 
    box-shadow: 0 0 12px variables.$color-principal; 
     transform: translateY(-1px); 

} 
&:focus-visible {
    outline: none;
    box-shadow: 0 0 2px variables.$color-principal;
  }

  &:active {
    background-color: variables.$color-fondo;
    color: variables.$color-principal;
    border-color: variables.$color-principal;
    box-shadow: none;
    transform: translateY(0);
  }
} 
 
} 

// main mobile

@media (max-width: 991.98px) { 
 
    .seccion-principal { 
        display: flex; 
        flex-direction: column;
        min-height: auto; 
       
       padding: 20px 10px; 
       
        justify-content: center;    
        align-items: center; 
        text-align: center;
      
       
         .contenido-principal {  
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 360px;
             justify-content: center; 
             align-items: center;
             
         

h2{ 
       
        font-weight: 800; 
        line-height: 1.1; 
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
         margin: 10px 0 20px 0;
    }

        
    p{ 
        max-width: 300px;
        font-size: 1.2rem;  
        line-height: 1.2; 
        padding-top: 1em;
       
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
    } 

    .tecnologias{ 
        
        font-size: 1rem; 
         
        line-height: 1.2; 
       
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
    } 
 

    } 


    } 
// boton mobile
    .btn-primario { 
        display: flex;
       margin-top: 20px;
       width: 100%;
       max-width: 250px;

            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: variables.$color-principal; 
                     background-color: variables.$color-fondo; 
                     border-color: variables.$color-principal; 
                    box-shadow:0 0 6px variables.$color-principal; 
                    transform: translateY(-2px); 

    }      
    } 
 }
 
 
/* estilos del footer */ 
 footer { 
    align-items: center;
   justify-content: center; 
    margin-top: 0; 
    padding: 1.5rem 0; 
    position: relative; 
    z-index: 1; 

    p{ 
    text-align: center; 
    color: variables.$color-principal ; 
    font-size: 1.2em; 
    font-weight: lighter; 
    font-family:"share tech mono" , sans-serif ; 
    margin-bottom: 0.4rem; 
} 
/* contenedor de iconos */ 

    .social-icons { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 1rem;
    
    a{
        display: inline-flex;
        width: 32px;
        height: 32px;
       
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0.5;
            transition: 
            filter 0.25s ease,
            transform 0.25s ease,
            opacity 0.25s ease;
            
    }

    &:hover img {
      opacity: 1;
      filter:
        drop-shadow(0 0 6px rgba(216, 219, 218, 0.6))
        drop-shadow(0 0 14px rgba(241, 247, 245, 0.4));
      transform: translateY(-2px);
    }
     
        } 

    } 
} 

// footer mobile

@media (max-width: 991.98px) { 
    footer { 
    
        margin-top: 60px; 

        .social-icons { 
        justify-content: center; 
        margin-top: 20px;  
            a{
                img { 
        width: auto;  
        object-fit: contain; 

        margin-right: 8px;  

        opacity: 0.5; 

        transition: 

            filter 0.25s ease, 

            transform 0.25s ease, 

            opacity 0.25s ease; 

             }
                &:hover img,
                &:focus img{ 

        opacity: 1; 

        filter: 

            drop-shadow(0 0 6px rgba(216, 219, 218, 0.6)) 

            drop-shadow(0 0 14px rgba(241, 247, 245, 0.4)); 

        transform: translateY(-2px); 

    } 

             }

                    }                 
    } 

   

} 

 

// sobre mi

// fondo

 .pagina-sobre-mi{

    min-height: 100vh; 

    background-color: variables.$color-fondo; 

    background-image: linear-gradient( 

        180deg, 

        rgba(0,0,0,0.6),  

        rgba(0,0,0,0.95) ); 
} 

// main
.sobre-mi { 

   display: flex; 
   align-items: center; 
   gap: 4rem; 
   margin: 50px 0;
   justify-content: center; 

   .sobre-mi-texto{
       max-width: 600px; 
        flex: 1; 
        text-align: left; 

        h2{ 
        font-size: clamp(2rem, 5vw, 3rem); 
        color: variables.$color-principal; 
        font-weight: 800; 
         margin: 10px 0;
         line-height: 1.2; 
          font-family: "plus jakarta sans", sans-serif; 
            }  

      
         p { 

        font-size: clamp(1rem, 2vw, 1.5rem); 
        color: variables.$color-principal; 
        font-weight: 400; 
         line-height: 1.4; 
          font-family: "plus jakarta sans", sans-serif; 
            }  

           
   } 

//    imagen
    .sobre-mi-imagen{
        img{ 

             display: block; 
            margin: 0 auto; 
            max-width: 350px; 
             width: 100%; 
            border-radius: 8px; 
            object-fit: cover; 
            box-shadow:0 4px 10px rgba(0,0,0,0.15) ; 
            transition:transform 0.3s ease, filter 0.3s ease ; 
            filter: grayscale(100%); 

            // hover
            &:hover{ 
            transform: scale(1.02); 
            filter: grayscale(0%); } 

            } 
    }    
} 

// boton scroll

main .boton-scroll{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
   margin: 0 auto; 
  
  font-size: 1.5rem; 
  font-weight: 900; 
  line-height: 1.2; 
  color: variables.$color-acento; 
  text-decoration: none; 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;  
//   animacion de Animate.css
animation-name: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;


} 

// main sobre mi mobile

@media (max-width: 991.98px){
    .pagina-sobre-mi{
    min-height: auto; 
} 
    .sobre-mi { 
        flex-direction: column; 
        gap: 2rem; 
        margin: 20px 0;
        padding: 0 20px;
        

        .sobre-mi-texto { 
                  max-width: 360px; 
                 text-align: center; 
                 margin: 0 auto; 

                 h2 { 
                    text-align: center; 
                     

                    } 

                    p {
                        line-height: 1.5; 
                        margin: 20px 0; 
                        text-align: center; 
                        letter-spacing: 0.5px; 

                     } 
             } 

             .sobre-mi-imagen { 
                display: flex; 
                justify-content: center; 


                img { 
                    max-width: 280px;
                    box-shadow:0 4px 10px rgba(0,0,0,0.15) ; 
                    transition:transform 0.3s ease, filter 0.3s ease ; 
                    filter: grayscale(100%);  

                   &:active { 
                    transform: scale(1.02); 
                    filter: grayscale(0%); 
                } 

                    } 

             } 
    } 
 }



// proceso de trabajo
.contenedor-grid{ 
    display: grid; 
    gap: 2rem; 
    grid-template-columns: repeat(4, 1fr); 
    max-width: 1200px; 
    margin: 4rem auto 0; 
   

    .titulo { 
         grid-column: 1 / -1;  
        text-align: center; 

        h3{ 
             color: variables.$color-principal; 
             font-size: clamp(2rem, 5vw, 2.8rem); 
             font-weight: 700; 
             padding: 1rem 0 1.5rem 0; 
              font-family:"Space Grotesk", sans-serif ; 
              text-shadow: 0 0 6px rgba(0,0,0,0.15);

            } 
} 

    .contenido{ 
        display: flex;   
        flex-direction: column; 
        justify-content: center; 
         gap: 1rem; 
         padding: 20px; 
         border: 2px solid variables.$color-acento; 
        background-color:transparent; 
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
        overflow: hidden; 
        position: relative; 

        h4{ 
            color: variables.$color-principal; 
            font-size: clamp(1.3rem, 4vw, 1.6rem); 
            font-family: "plus jakarta sans" , sans-serif ; 
            text-transform: uppercase;
            text-align: center; 
             padding-bottom: 10px; 
            font-weight: 600; 
             
            position: relative; 
            } 

            p{ 
                text-align: center; 
              color: variables.$color-principal;   
              font-family: "plus jakarta sans", sans-serif; 
                font-size: clamp(1.1rem, 3vw, 1.3rem);   
                line-height: 1.2; 
                font-weight: 400; 
               
                 position: relative;      
                } 

                // hover

               &:hover{ 
                transform: translateY(-4px); 
                 box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
                } 

               &::before{ 
                content: ""; 
                position: absolute; 
                inset: 0; 
                background-color: transparent;
                opacity: 0; 
                transition: opacity 0.3s ease; 
                z-index: 0;   
                  

            } 

           

}
.cierre{
    grid-column:1 / -1;
    text-align: center;

    h5{
        color: variables.$color-principal;
        font-size:clamp(1.1rem, 4vw, 1.4rem) ;
        font-family:"plus jakarta sans", sans-serif;
        font-weight: 600;
        line-height: 1.2;
        padding: 3rem 0 0 0;
        margin-bottom: 0.5rem;
    }
    p{
        color: variables.$color-principal;
        font-size:clamp(1.1rem, 4vw, 1.4rem) ;
        font-family:"plus jakarta sans", sans-serif;
        font-weight: 300;
        line-height: 1.2;
        padding: 0 0 1.5rem 0;
    }
}

} 

// main proceso de trabajo mobile

@media (max-width: 991.98px){
.contenedor-grid { 
        grid-template-columns: minmax(0, 320px);
        gap: 1.5rem; 
        margin: 2.5rem auto 0;
        padding: 0 16px;
        justify-content: center;
        width: max-content;
        max-width: 360px;

        .contenido{ 
        min-height: auto; 
        width: 100%;
       
         }   
         .cierre   {
        p{
            padding: 2rem  0 0 0;
              
    }  
    }  
} 

 }


//  contacto

.pagina-contacto{ 
    min-height: 100vh; 
    background-color: variables.$color-fondo; 
    background-image: linear-gradient( 
        180deg, 
        rgba(0,0,0,0.6),  
        rgba(0,0,0,0.95) ); 
} 

.contacto {   
    margin: 4rem 0 0 0; 
  

    .contacto-titulo { 
            max-width: 900px; 
            margin: 0 auto; 
            padding: 3rem 0 3.5rem 0; 
            text-align: center; 

            h2 { 
                text-align: center; 
                color:variables.$color-principal; 
                text-shadow: 0 0 6px rgba(0,0,0,0.15);
                font-size: clamp(2.5rem, 5vw, 4rem); 
                letter-spacing: 0.05rem;
                font-weight: 900; 
                margin: 0 0 3rem 0; 
                font-family:"Space Grotesk", sans-serif ;     
            } 
            
            .contacto-subtitulo { 
                font-size: clamp(1.5rem, 4vw, 1.8rem); 
                font-family: "plus jakarta sans", sans-serif; 
                color: variables.$color-principal; 
                letter-spacing: 0.05rem;
                padding: 2rem 0 ; 
                font-weight: 600; 
                line-height: 1.3;
            
            } 

            .contacto-texto-negrita{ 
                font-size: clamp(1.3rem, 3vw, 1.5rem); 
                font-family: "plus jakarta sans", sans-serif; 
                color: variables.$color-acento; 
                line-height: 1.3;
                font-weight: 400; 
                letter-spacing: 0.05rem;

            } 
            .contacto-texto { 
                font-size: clamp(1.3rem, 3vw, 1.5rem); 
                font-family: "plus jakarta sans", sans-serif; 
                color: variables.$color-principal; 
                padding: 0 0 1.5rem 0; 
                font-weight: 300; 
                line-height: 1.3;
                letter-spacing: 0.05rem;
            
            } 

        } 

// formulario

        .form-contacto { 
                background-image: url(../images/fondo.webp); 
                background-size: cover; 
              background-position: center;
              background-repeat: no-repeat;
                max-width: 700px; 
                margin: 80px auto; 
                padding: 60px; 
                border:2px solid variables.$color-acento ; 
                position: relative;
                z-index: 0;

                &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background-color: rgba(0, 0, 0, 0.6);
                            z-index: -1;
                            
                        }
                .form-grupo { 
                     margin-bottom: 60px; 
                     position: relative;
                     z-index: 1;


                     label{ 
                        color: variables.$color-principal; 
                        font-size: 1.5rem; 
                        font-weight: 400; 
                        display: block; 
                        margin-bottom: 10px; 
                        font-family:"plus jakarta sans", sans-serif ; 
                        letter-spacing: 0.1rem;
                        z-index: 1; 

                    }  
                    input,
                    textarea{ 
                        width: 100%; 
                        padding: 12px; 
                        color: variables.$color-principal; 
                        border: 1px solid variables.$color-acento; 
                        border-radius: 8px; 
                        font-size: 1.2rem; 
                        background-color: rgba(0, 0, 0, 0.85);  
                        font-family: "plus jakarta sans", sans-serif; 
                        &:focus{ 
                        outline: none; 
                        border-color: variables.$color-acento; 
                        box-shadow: 0 0 10px variables.$color-acento; 

                    } 
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover,
                            &:-webkit-autofill:focus {
                                -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.85) inset;
                                -webkit-text-fill-color: variables.$color-principal;
                                caret-color: variables.$color-principal;
                            }

                            &:autofill {
                                background-color: rgba(0, 0, 0, 0.85);
                            }
                            }    
                            }   
     
                                  
                                 
                                 
}   
               
                            
        // boton
         .btn-formulario { 
         @extend .boton;
        display: flex;
        margin-top: 80px; 
        padding: 14px 28px;
        color: variables.$color-principal;
        background-color: transparent; 
        border: 2px solid variables.$color-principal; 
        border-radius: 2px; 
        cursor: pointer; 
        z-index: 2; /* sobre overlay */ 
         
            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: variables.$color-acento; 
                     background-color: transparent; 
                     border-color: variables.$color-acento; 
                    box-shadow:0 0 6px variables.$color-acento; 
                    transform: translateY(-2px); 

    }      
    } 
 

            } 
 

// contacto mobile

@media (max-width: 991.98px) {
.pagina-contacto{
        min-height: auto;
    }
.contacto { 
        margin: 30px 20px; 

        .contacto-titulo { 
                max-width: 100%; 
                 margin: 20px 0; 


            } 

            .form-contacto { 
                max-width: 100%; 
                border-width: 2px; 
                border-radius: 6px; 
                background-color: variables.$color-fondo;  
                margin: 50px 0; 

                .form-grupo { 
                     margin-bottom: 30px; 

                     label { 
                        font-size: 1rem; 
                        margin-bottom: 6px; 
                    } 

                     input,
                     textarea{ 
                        padding: 10px; 
                        font-size: 1rem; 
                    } 
                     } 

        

                    } 

    } 


}

// Proyectos
.pagina-proyectos{ 
    min-height: 100vh; 
    background-color: variables.$color-fondo; 
    background-image: linear-gradient( 
        180deg, 
        rgba(0,0,0,0.6),  
        rgba(0,0,0,0.95) ); 
} 
.proyectos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    justify-items: center;
    max-width: 950px;
    margin: 0 auto;

    .proyectos-titulo{
        grid-column:1/ -1;  
        padding: 5rem 0 0 0;
        text-align: center;

        h2{
            color: variables.$color-principal; 
            font-size:  clamp(2.5rem, 5vw, 3.5rem); 
            font-family: "Space Grotesk", sans-serif; 
            font-weight: 900; 
            text-shadow: 0 0 6px rgba(0,0,0,0.15); 
            text-align: center; 
            padding: 3rem 0 0 0; 
            line-height: 1.5;
            letter-spacing: 0.05rem;
        }

        h3{
            font-size: clamp(1.5rem, 4vw, 1.8rem); 
            color: variables.$color-acento; 
            font-weight: 600; 
            text-align: center; 
            padding: 5rem 0 1.8rem 0; 
            line-height: 1.4; 
            font-family: "plus jakarta sans", sans-serif; 
            letter-spacing: 0.05rem;

        } 
         

        p.color{ 
                color: variables.$color-principal;  
                font-family: "plus jakarta sans", sans-serif ;
                font-weight: 300; 
                font-size: clamp(1.3rem, 2vw, 1.5rem); 
                line-height: 1.2;
                letter-spacing: 0.05rem;

        }  
    }
    .proyectos-imagen{ 
        margin: 4rem 0; 
        position: relative;

        img{ 
            display: block; 
            margin-inline: auto; 
             width: auto; 
             max-width: 400px; 
            height: auto; 
            border: 1px solid #00ff9d; 
            border-radius: 12px; 
            opacity: 1; 
        } 
    } 

    .proyectos-overlay{ 
                display: flex; 
                position: absolute; 
                inset: 0; 
                background: rgba(0, 0, 0, 0.7); 
                color: variables.$color-principal; 
                flex-direction: column; 
                justify-content: center; 
                align-items: center; 
                text-align: center; 
                opacity: 0; 
                pointer-events: none; 
                transition: opacity 0.3s ease; 
                border-radius: 12px; 
                padding: 5px; 

                h4{ 
                font-size:clamp(1.5rem, 4vw, 1.8rem); 
                font-weight: 600; 
               padding: 0.5rem 0 0 0 ;
                font-family: "plus jakarta sans", sans-serif; 
                letter-spacing: 0.05rem; 
                text-transform: uppercase; 
                margin-bottom: 1rem;
                } 
                p{ 
                padding: 0  0.5rem; 
                font-size: clamp(1.2rem, 4vw, 1.4rem); 
                line-height: 1.1;
    
                font-weight: 300; 
                font-family: "plus jakarta sans", sans-serif; 
                 opacity: 0.85; 
                 } 
            } 
            @media(hover: hover){ 
            .proyectos-imagen:hover .proyectos-overlay{ 
                    box-shadow:0 0 6px variables.$color-acento; 
                    opacity: 1; 
                    pointer-events: auto; 

                        } 

        } 

 .btn-proyectos { 
    @extend .boton;
        display: flex;
         grid-column:1/ -1;
       margin: 3.5rem 0 4rem 0;
        color: variables.$color-acento; 
        background-color: transparent; 
        border: 2px solid variables.$color-acento;  
        z-index: 2; /* sobre overlay */ 
            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: variables.$color-acento; 
                     background-color: transparent; 
                     border-color: variables.$color-acento; 
                    box-shadow:0 0 6px variables.$color-acento; 
                    transform: translateY(-2px); 

    }      
    } 
}

// proyectos mobile
@media (max-width: 991.98px){
    .pagina-proyectos{
        min-height: auto;
    }
    .proyectos{ 
      width: min(90%, 400px );
    
     margin: 0.5rem auto;
     
     .proyectos-titulo{ 
        margin: 0.5rem 0; 
    
        h2{ 
         
         line-height: 1.1;
        padding: 1rem 0 1.5rem 0;      
         
            }  
         h3{
           padding: 0 0.5rem 0.5rem 0.5rem; 
           line-height: 1.2;
        }  
         p.color{ 
                padding: 1.5rem 0.5rem 1.5rem 0.5rem;
                line-height: 1.2;

        }  
    } 

    .proyectos-imagen{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0; 

        img{ 
           width: 100%;
             max-width: 300px; 
             opacity: 1;
    
        } 
    } 

     .proyectos-overlay{ 
        position: static;
        opacity: 1;
        pointer-events: auto;
        background: transparent;
        margin: 20px auto 0 auto;
        max-width: 400px;
              
            } 

            

    .btn-proyectos {
        margin: 0 0 2rem 0;
    }
} 
}

// pagina de agradecimiento
.pagina-de-agradecimiento{
    background-color: variables.$color-fondo;
     background-image: linear-gradient( 
        180deg, 
        rgba(0,0,0,0.6),  
        rgba(0,0,0,0.95) ); 
   
}
.agradecimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 10px auto;

    .seccion-agradecimiento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 50px 0;

    h2{
        font-size:clamp(2.5rem, 5vw, 4rem);
        color: variables.$color-principal;
        font-family: "space grotesk", sans-serif;
        margin: 20px 0 30px 0;
        text-align: center; 
        text-shadow: 0 0 6px rgba(0,0,0,0.15);
        font-weight: 900;
    }
    h3{
        font-size:clamp(1.5rem, 5vw, 2rem) ;
        color: variables.$color-principal;
        line-height: 1.3;
        font-family: "plus jakarta sans", sans-serif;
        font-weight: 500;
    }
    .btn-agradecimiento{ 
        @extend .boton;
        display: flex;
        flex-direction: column;
       text-align: center;
        justify-content: center;
       margin: 50px 0 10px 0;
        
        color: variables.$color-acento; 
        background-color: transparent; 
        border: 2px solid variables.$color-acento;
        z-index: 2; /* sobre overlay */ 
            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: variables.$color-acento; 
                     background-color: transparent; 
                     border-color: variables.$color-acento; 
                    box-shadow:0 0 6px variables.$color-acento; 
                    transform: translateY(-2px); 

    }      
    } 
}
    
}

@media (max-width: 991.98px){
    .agradecimiento{
        max-width: 400px;
        .seccion-agradecimiento{
            margin: 20px 0;


            .btn-agradecimiento{
            margin: 30px 0 10px 0;
        }
        }
        
    }
}